<strong>Olá {{deliveryman}}</strong>
<p>A entrega foi cancelada, confira os detalhes abaixo</p>
  <br />
<p><strong>Encomenda: </strong> {{delivery}}</p>
<p><strong>Destinatário: </strong> {{recipient}}</b>
<p><strong>Motivo:</strong>{{description}}</p>
<br/>
<p>
  <strong>Novas entregas surgirão!</strong>
</p>
